body {
    background-color: #f9f7f7;
}


p{
	font-size: 18px;
	font-family: Times;

}

input:invalid {
    border-color: #f2a6a6;
}
input,
input:valid {
    border-color: #ccc;
}

button {
 border: none;
 background: #3a7999;
 color: #f2f2f2;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}


button:hover {
 background: rgba(0,0,0,0);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
}
